---
layout: default
---

<main class="project-page">
  <header
    class="project-header"
  >
    <h1 class="project-title">
      {{page.title}}
    </h1>
    <div class="project-subtitle">
      <div class="project-categories">
        {%- comment -%} <span>{{page.type | capitalize}}</span>
        <span class="dot-separator">·</span>  {%- endcomment -%}
        <span>{{page.organisation}}</span>
      </div>
      <div class="project-links">
        {% if page.link %}
        <a href="{{page.link}}">{{page.link}}</a>
        {% endif %}
        {% if page.github and page.link %}
        <br>
        {% endif %}
        {% if page.github %}
        <a href="{{page.github}}">GitHub Repository</a>
        {% endif %}
      </div>
    </div>
  </header>
  
  {% if page.video %}
  <video autoplay muted loop class="project-main-image">
    <source src="/assets/video/{{page.tag}}.m4v"
    type="video/mp4">
    <img
      class="project-main-image"
      src="/assets/images/{{page.image}}"
    />
  </video>
  {% else %}
  <img
    class="project-main-image"
    src="/assets/images/{{page.image}}"
  />
  {% endif %}
  
  <div class="project-description">
    {{page.description | markdownify}}
    {{page.long_description | markdownify}}
  </div>
  
  {% if page.achievments %}
  <div class="achievments boxed ">
    <h2 class="boxed-title">Achievements</h2>
    <ul>  
      {% for achievments in page.achievments %}
      <li class="achievment">
        <strong>{{achievments.title}}:</strong>
        <span>{{achievments.description | markdownify}}</span>
        <div class="achievment-image-container">
          <img 
            class="achievment-image"
            src="/assets/images/{{achievments.image}}
          ">
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {%- comment -%} <div class="project-skills boxed ">
    <h2 class="boxed-title">Skills</h2>
    <ul>  
      {% for skill in page.skills %}
      <li>
        {{skill}}
      </li>
      {% endfor %}
    </ul>
  </div> {%- endcomment -%}
  
</a>
</main>